// Typography
$font-family: 'Roboto', sans-serif;
$font-base: #343434;
$font-light: #adadad;

// Borders
$border-dark: #c1c1c1;
$border-light: #eee;

// Responsive
$screen-md: 768px;
$screen-sm: 420px;

// Colors
$blue: #00BCD4;
$error-red: #bd0000;
